html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.row::before,
.row::after {
    display: table;
    content: " ";
    clear: both;
}

.one,
.one-third,
.two-thirds,
.one-fourth,
.half,
#js-adding-bookmark-form {
    width: 100%;
}


/* 
* Any styling that should be applied to screen widths larger
* than a mobile device: tablet, laptop, desktop, etc. 
*/

@media only screen and (min-width: 800px) {
    .one {
        width: 100%;
    }
    .half {
        width: calc(100% / 2);
    }
    .one-third {
        width: calc(100% / 3);
    }
    .one-fourth {
        width: calc(100% / 4);
    }
    .two-thirds {
        width: calc(100% / 3 * 2);
    }
    .column {
        float: left;
    }
}


/* Styling */

body {
    /*background: #000000;*/
    /*color: #f7f7f7;*/
    font-size: 30pt;
    font-family: 'Lato';
    padding: 0 10px;
}

.column {
    border: 1px solid #666;
    background: #343436;
    padding: 15px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
}

.css-add-button {
    width: 40%;
    display: inline-block;
    float: left;
}

.css-filter-button {
    width: 50%;
    display: inline-block;
    float: left;
}

.rate {
    width: 10%;
    display: inline-block;
    float: right;
}

button {
    border: 1px solid black;
    border-radius: 5px;
}

.default-bookmark {
    border: 1px solid black;
    border-radius: 3px;
    display: block;
    clear: both;
    margin-top: 5%;
}

.expanded-bookmark {
    border: 1px solid black;
    border-radius: 3px;
    display: block;
    clear: both;
}

#star {
    font-size: 30pt;
    color: yellow;
    /* Some sort of border */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.rating {
    display: inline-block;
}

h2 {
    display: inline-block;
    padding-left: 15px;
    width: 90%
}

.beginButtons {
    margin-bottom: 5%;
}

p {
    padding-left: 15px;
    font-size: 20pt;
}

.item-container {
    padding-top: 5%;
}

.js-bookmark-title-entry {
    display: block;
    width: 75%;
    margin-bottom: 2%;
}

.js-bookmark-url-entry {
    display: block;
    width: 75%;
    margin-bottom: 2%;
}

.js-bookmark-desc-entry {
    display: block;
    width: 75%;
    margin-bottom: 2%;
}

.css-adding-form-buttons {
    display: block;
    margin-top: 2%;
}

input[type="radio"] {
    border: 0px;
    width: .75em;
    height: .75em;
}

.banner {
    color: red;
}