/* 
* Any styling that should be applied to screen widths larger
* than a mobile device: tablet, laptop, desktop, etc. 
*/


@media only screen and (min-width: 1000px) {
    .one {
        width: 100%;
    }
    .half {
        width: calc(100% / 2);
    }
    .one-third {
        width: calc(100% / 3);
    }
    .one-fourth {
        width: calc(100% / 4);
    }
    .two-thirds {
        width: calc(100% / 3 * 2);
    }
    .column {
        float: left;
    }
    nav {
        padding: 0;
    }
    body {
        font-size: 16pt;
        align-self: center;
    }
    h1 {
        margin: 32px 0px 50px 10px;
        padding-top: 30px;
        padding-bottom: 14px;
        font-size: 40pt;
        text-align: center;
    }
    h2 {
        font-size: 21pt;
    }
    button {
        font-size: 25px;
    }
    button:hover {
        background-color: rgb(210, 244, 255);
    }
    .beginButtons {
        margin-bottom: 10%;
    }
    .css-add-button {
        font-size: 45pt;
        padding: 0px 4px 67px 4px;
        width: 68px;
        height: 7px;
    }
    #js-adding-bookmark-form {
        font-size: 16pt;
    }
    #js-adding-bookmark-form input {
        margin-bottom: 10px;
    }
    .css-adding-form-buttons {
        width: 145px;
    }
    .css-rating-container {
        margin-left: 10px;
    }
    .adding-form-container {
        margin-bottom: 42px;
    }
    .default-bookmark {
        height: 45px;
        padding-top: 0;
        margin-top: 4%;
    }
    #star {
        font-size: 17pt;
    }
    .rating {
        margin-top: 2px;
    }
    .container {
        font-size: 25px;
    }
}